#signupContainer{
	float: left;
}

#outerContainer{
	margin-left: 250px;
	margin-top: 100px;
}

body {
	background-color: #f2f2f2;
	font-family: sans-serif ;
}

label {
	width: 140px;
	display: inline-block;
}

button {
	margin-left: 145px;
	width: 70px;
	height : 23px;
	background-color: rgb(88, 96, 83);
	color: white;
}

div {
	padding: 2px;
}

#error {
	display: block ;
	margin-left: 145px;
	width : 170px;
	height: 80px;
}

input {
	border: none;
	border-left: 2px solid lightblue ;
	border-bottom: 2px solid lightblue ;
	background-color: #f2f2f2;

}

input:focus {
	border: none;
	border-left: 2px solid lightgreen ;
	border-bottom: 2px solid lightgreen ;
	outline: none;
}

#hpimg {
	width: 100px ;
	height: 130px;
	background-color:rgb(185, 200, 187);
}

#hp {
	width : 160px;
	height: 40px;
	margin-top: 10px;
	background-color: #d2d2d2 ;
}

#out {
	float: right ;
}

#details {
	margin-left: 200px;
	margin-top: 50px;
}

#top {
	width : 1200px;
	height: 30px;
	background-color: rgb(88, 96, 139);
}